html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  .calculator{
      border: 1px solid magenta;
      border-radius: 10px;
      position: absolute;
      top:100%;
      left:50%;
      transform: translate(-50%, -50%);
      width: 400px;
  }

  .calculator-screen {
    width: 100%;
    font-size: 10rem;
    height: 150px;
    border: solid;
    background-color: darkblue;
    color:gold;
    text-align: right;
    padding-right: 50%;
    padding-left: 10px;
  }
  button{
      height: 60px;
      background: gray;
      border-radius: 1px;
      font-size: 3rem;
      color: aqua;
  }
  button:hover{
      background-color: hotpink;
  }
  .operator{
      color: brown;
  }
  .all-clear{
      background-color: red;
      border-color: black;
  }
  .all-clear:hover{
      background-color: purple;
  }
  .decimal{
      background-color: darkred;
      color: blue;
  }
  .decimal:hover{
      background-color: green;
  }
  .equal-sign{
      color: red;
      background-color: violet;
  }
  .equal-sign:hover{
      background-color: crimson;
  }
  .calculator-keys{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 30px;
  }
  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
grid-row: 2 / 6;
grid-column: 4 / 5;
  }
  